<form
  action="productos"
  id="formulario"
  enctype="multipart/form-data"
  method="post"
>
  <div class="formInput">
    <input type="text" placeholder="nombre" name="title" id="name" />
  </div>
  <div class="formInput">
    <input type="number" placeholder="Precio" name="price" id="price" />
  </div>
  <div class="formInputFile">
    <input type="file" name="myFile" id="file" />
  </div>
  <input type="submit" value="enviar" />
</form>
