<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/header.ejs'); %>

    <section>
      <div class="content-box">
        <h2 id="username">NN</h2>
        <hr />
        <form>
          <input id="msn" name="msn" />
          <button id="send">Enviar</button>
        </form>
        <div id="chat"></div>
      </div>
    </section>

    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
