<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/header.ejs'); %> <%-
    include('./partials/productList.ejs'); %> <%-
    include('./partials/footer.ejs'); %>
  </body>
</html>
